body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  color: #333;
}

/* Logo + título */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin-bottom: 10px;
}

.logo {
  width: 85px;
  height: auto;
}

.title {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 36px;
  color: #000;
  padding: 10px 20px;
  margin: 0;
}

h2 {
  color: #505050;
  margin-bottom: 20px;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: 300;
  text-align: center;
  padding-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  position: relative;
}

h2::after {
  content: "";
  display: block;
  margin: 3px auto 0;
  width: 200%;
  max-width: 120%;
  height: 0.2px;
  background: #0f0f0f;
  border-radius: 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.menu-container {
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.left-menu {
  display: flex;
  gap: 30px;
}

.left-menu a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  transition: background 0.2s;
}

.left-menu a:hover {
  background-color: #004074;
  color: white;
  border-radius: 4px;
}

.left-menu a.active {
  background-color: #007add;
  color: white;
  border-radius: 1px;
}

.center-search {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}

.search-bar {
  padding: 8px 12px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Menu de usuario */
.right-menu {
  display: flex;
  align-items: center;
}

.user-btn {
  cursor: pointer;
  position: relative;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: #333;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.user-btn:hover .dropdown-menu {
  display: block;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ddd;
  margin: 20px 0;
}

/* Table */
.bookings-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;
}

.bookings-table {
    width: 80%;
    min-width: 400px;
    max-width: 700px;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    font-size: 15px;
    height: 300px; /* aumenta la altura de la tabla */
}

.bookings-table thead {
    background-color: #eaeaea;
    text-align: left;
}

.bookings-table th,
.bookings-table td {
    padding: 16px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

.bookings-table td a {
    color: #007BFF;
    text-decoration: none;
    margin: 0 5px;
}

.bookings-table td a:hover {
    text-decoration: underline;
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;
}


/* Footer */
footer {
  margin-top: 40px;
  font-size: 12px;
  color: #777;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 10px 0;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.05);
}

footer nav a {
  color: #777;
  text-decoration: none;
  margin: 0 5px;
}
